@import "tailwindcss";

:root {
  --font-calistoga: "Calistoga", cursive;
  --font-raleway: "Raleway", sans-serif;
}

.font-calistoga {
  font-family: var(--font-calistoga);
}

.font-raleway {
  font-family: var(--font-raleway);
}
